body {
    background: #e3e3e3;
    margin: 0px;
    padding: 0px;
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    box-shadow: 2px 12px 12px rgba(0, 0, 0, 0.2);
    padding: 0 5%;
  }
  
  .logo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #384d9d;
    margin-left: 65px;
    font-family: "Segoe Ui";
  }
  a {
    text-decoration: none;
  }
  .logo-img {
    width: 50px;
    height: auto;
    margin: 0px;
    position: absolute;
    float: left;
  }
  .img-pic{
    width: 130px;
    height: auto;
    margin-left: 670px;
    margin-top: 60px;
    position: absolute;
    
    
  }
  .hero{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #fff;
    box-shadow: 2px 12px 12px rgba(0, 0, 0, 0.2);
    padding: 0 5%;
   }
  .input-group{
    top:180px;
    position:relative;
    width:280px;
    transition: .5s;
}
.input-field{
 color:#ffffff;   
 width:100%;
 padding: 10px 0;
 margin: 5px 0;
 margin-top: 10px;
 margin-bottom: 20px;
 border-radius: 6px;
 border-bottom:2px solid #999;
 outline: none;
 background: transparent;
 text-align: center;
 align-items: center;
 justify-content: center;
 position: relative;
 font-family: "Segoe Ui";
}
.submit-btn{
width:100%;
padding: 10px 36px;
margin-top: 300px;
font-family: "Segoe Ui";
cursor: pointer;
display: block;
margin: auto;
background:linear-gradient(to right,purple,blue);
border: 0;
outline: none;
border-radius: 6px;
color:#ffffff;


}
form{
    position: relative;
    align-items:center;
    justify-content: center;
    float:left;
    padding: 10px;
    padding-right: 20px;
    border:0;
    border-radius: 30%;
    margin-top: 350px;
    margin-bottom: 50px;
    font-family: "Segoe Ui";
    
}

.x{
    float:left;
    padding: 4px;
    padding-right: 10px;
    padding-left: 5px;
    margin-top: 1px;
    
    font-family: "Segoe Ui";
}
.y{
    float:left;
    padding: 4px;
    padding-right: 5px;
    margin-top: 1px;
    
    margin-left: 5px;
    color:red;
    font-family: "Segoe Ui"; 
}